@import "../util/variables.scss";

$baseWidth: 100;
$baseHeight: 50;
$activeHeight: 100;
$activeWidth: 150;

.inventory-hand-container {
    position: absolute;
    align-items: center;
    display: flex;
    bottom: 0;
    right: 50;
    bottom: 50;
    .inventory-item {    
        margin: 2;
        display: flex;
        flex-direction: column;
        background-color: rgba(0,0,0,0.8);   
        &.active {
            width: $activeWidth;
            height: $activeHeight;
        }  

        .slot-number-panel {
            flex-grow: 1;
            max-height: 30;
            padding-top: 5;
            padding-left: 5;
            color: grey;
        }

        .item-name-panel {
            min-width: 100%;
            padding: 2;
            color: white;
            text-align: center;
        }

    }
    :not(.inventory-item.active) {
        width: $baseWidth;
        height: $baseHeight;
    }   
}